
<div>
<form>

<label>
{{blogPost.blogtitle}}</label>
<br>
<b>PostedBy:</b>{{blogPost.createdBy.firstname}} <br>
<span class="glyphicon glyphicon-time"></span><b>On</b>{{blogPost.postedOn | date:'yyyy-MM-dd'}}
<br><br>
<label>{{blogPost.description}}</label><br><br>
Leave a Comment:<br><textarea rows="3" cols="50" ng-model="blogComment.commentText"></textarea>
&nbsp;&nbsp;
<button type="submit" class="btn btn-lg" ng-click="savecomment()">Comment</button>
<br><br>
<button type="submit"  class="btn btn-lg" ng-click="GetBlogComments(blogPost.blogid)">Show comments</button><br><br>
<ul><li ng-repeat="blogcomment in blogcomments">
<label>{{blogcomment.commentText}}</label></li></ul>

</form>
</div>