<div class="container" align="left">
<div class="row">
       <div class="col-sm-6 col-md-4 col-md-offset-4">  
<div class="blogPost" >

           <!--  <form class="form-blog" align="left"><br><br> -->
            <h2><center><font face="Monotype Corsiva" size="10px">Write your blog.!</font></center></h2><br>
         	<div class="form group">
         	<label>Blog Title</label>
            <input type="text" class="form-control" ng-model="blogPost.blogtitle"></div>
            <div class="form group"><br>
            <label>Blog</label>
            <input type="text" class="form-control"  ng-model="blogPost.description" />
                </div><br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="saveBlog()">
                    Save Blog</button>

</div>
</div>
</div>
</div>