<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<!-- Footer -->
<footer class="w3-container w3-padding-hor-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="" href="" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="" href="" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="" href="" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="" href="" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <!-- <p>Powered by <a href="default.asp.html" target="_blank">w3.css</a></p>
 -->
 				
</footer>

</body>
</html>