<div class="container" align="left">
<div class="row">
       <div class="col-sm-6 col-md-4 col-md-offset-4">  
<div class="forumPost" >

           <!--  <form class="form-blog" align="left"><br><br> -->
            <h2><center><font face="Monotype Corsiva" size="10px">Write your Forum Here.!</font></center></h2><br>
         	<div class="form group">
         	<label>Forum Title</label>
            <input type="text" class="form-control" ng-model="forumPost.ftitle"></div>
            <div class="form group"><br>
            <label>Forum</label>
            <input type="text" class="form-control"  ng-model="forumPost.description" />
                </div><br><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="saveForum()">
                    Save Forum</button>

</div>
</div>
</div>
</div>