<div>
<div class="row">
  <div class="col-sm-6 col-md-4 col-md-4">
<table>
<thead>
<tr>
<td>Name</td><br>
<td>Profile</td><br>
<td>Email<td><br>
<td>Role</td><br><td>UserName</td>
</tr>

</thead>
<tbody>
<tr>
<td><img src="http://localhost:8087/BackEndDemo/getprofilepic/{{user.fromId}}" width="200px" height="200px" class="img-rounded"></td>
<br><br><td>{{user.firstname}} {{user.lastname}}</td>

 <td>{{user.email}}</td>
<td>{{user.role}}</td>
<td>{{user.username}}</td>
</tr>
</tbody>
</table><br><br>
<a href="#/listOfPendingReq"><button type="submit" class="btn btn-lg">Pending req</button></a>
</div></div></div>