{{message}}
<!-- <span style="color:red">{{error.message}}</span>  -->
  
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

    <!--   <link rel="stylesheet" href="css/style.css"> -->
  <style>

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-image:img/bgg6.jpg;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
           
            <div class="account-wall">
              <form class="form-signin" name="loginForm" novalidate>       
      <h2 class="form-signin-heading"><center><font face="" size="5px">Please login</font></center>
      </h2>
      <input type="text" class="form-control" ng-model="user.username" placeholder="User Name" required/><br>
      <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="validateUser()">Login</button>  
      <br>
      New to the Blog..
      <a href="#/registerUser" class="text-center new-account">Create an account</a>
                
    </form>
  </div>
  </div>
  </div>
  </div>
  
 