
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>

<script type="text/javascript" src="js/app.js"></script>

<script type="text/javascript" src="controller/controller.js"></script>
<script type="text/javascript" src="service/service.js"></script>
<script type="text/javascript" src="controller/jobController.js"></script>
<script type="text/javascript" src="service/jobService.js"></script>
<script type="text/javascript" src="controller/blogController.js"></script>
<script type="text/javascript" src="controller/blogDetailController.js"></script>
<script type="text/javascript" src="service/blogService.js"></script>
<script type="text/javascript" src="controller/friendController.js"></script>
<script type="text/javascript" src="controller/friendDetailController.js"></script>
<script type="text/javascript" src="service/friendService.js"></script>
 <script src="js/sockjs/sockjs.js"></script>
    <script src="js/stomp/dist/stomp.js"></script>


<script type="text/javascript" src="controller/chatController.js"></script>
<script type="text/javascript" src="service/chatService.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>

<!-- <script src="assets/js/angular-cookie/angular-cookies.js"></script> -->

</head>

<body class="ng-scope" style="background-image: url('img/sk3.jpg');" ng-app="app">
<!-- <style>
.navbar-inner {
    background-color:transparent;
}
</style> -->


<header>		<!-- Starting the Navbar Code -->
<br>
		<nav class="navbar navbar-transparent">
		<div class="container-fluid">
		<div class="navbar-inner">
<!-- 
			<div class="navbar-header">
				<a class="navbar-brand" href=""><i class="fa fa-home"></i></a>
			</div> -->
			<ul class="nav navbar-nav navbar-left">
				<li><a href="#/Userhome"><span class="glyphicon glyphicon-home" style="color:black"></span><font face="" size="3px" color="black">Home</font></a></li>
				<li><a href="#/contactus"><font face="" size="3px" color="black">ContactUs</font></a></li>
				<li><a href="#/chat" ng-show="currentUser.firstname"><font face="" size="3px" color="black">Chat </a></li>
 <li class="dropdown"><a href="#" class="hover-red"
					data-toggle="dropdown" ng-show="currentUser.firstname"><span class="glyphicon glyphicon-blog" style="color:black"></span>
					<font face="" size="3px" color="black">Blogs</font>
  <span class="caret" style="color:black"></span></a>
  <ul class="dropdown-menu">

						<li><a href="#/saveblogs" ng-show="currentUser.firstname"><font face="" size="3px" color="black">Write Blog </font></a></li>
<li><a href="#/getallblogs"><font face="" size="3px" color="black">View Blog </font></a></li>

					</ul>
</li>
	<li class="dropdown"><a href="#" class="hover-red"
					data-toggle="dropdown" ng-show="currentUser.firstname">
					<span class="glyphicon glyphicon-suitcase" style="color:black"></span>
					<font face="" size="3px" color="black">Jobs</font>
  <span class="caret" style="color:black"></span></a>
  <ul class="dropdown-menu" color="red">

						<li><a href="#/getAllJobs" ng-show="currentUser.firstname"><font face="" size="3px" color="black">Show Job Details </font></a></li>
<!-- <li><a href="#/saveJob" ng-show="currentUser.firstname">Save Job </a></li> -->
 <li><a href="#/saveJob" ng-show="currentUser.role=='Admin'"><font face="" size="3px" color="black">Save Job</font> </a></li>
 
					</ul>
</li>
<li class="dropdown"><a href="#" class="hover-red"
					data-toggle="dropdown" ng-show="currentUser.firstname"><font face="" size="3px" color="black">Forums</font>
  <span class="caret" style="color:black"></span></a>
  <ul class="dropdown-menu" color="red">

						<li><a href="#"><font face="" size="3px" color="black">forum1 </font></a></li>
<li><a href="#"><font face="" size="3px" color="black">Forum2</font> </a></li>

					</ul>
</li>
<li class="dropdown"><a href="#" class="hover-red"
					data-toggle="dropdown" ng-show="currentUser.firstname"><font face="" size="3px" color="black">Friends</font>
  <span class="caret" style="color:black"></span></a>
  <ul class="dropdown-menu" color="red">

						<li><a href="#/listOfSuggestedUser" ng-show="currentUser.firstname"><font face="" size="3px" color="black">Suggested Users</font></a></li>
<li><a href="#/listOfPendingReq" ng-show="currentUser.firstname"><font face="" size="3px" color="black">Pending Request</font> </a></li>

					</ul>
					
</li>
<!-- <li><a href="#/listOfSuggestedUser" ng-show="currentUser.firstname"><font face="" size="3px" color="black">Friends</font></a></li> -->
</ul>
			<ul class="nav navbar-nav navbar-right">
<li><a href="" ng-show="currentUser.firstname"><font face="" size="3px" color="black">
 Welcome: {{currentUser.firstname}} {{currentUser.lastname}}</font></a></li>
 <li><a href="#/profilepic" ng-show="currentUser.username">
                    <img src="http://localhost:8087/BackEndDemo/getprofilepic/{{currentUser.username}}" alt="Upload Picture" width="35px" height="30px" class="img-rounded">
                    </a></li>
				
				<li><a href="#/registerUser" ng-hide="currentUser.firstname"><span
						class="glyphicon glyphicon-user" style="color:black"></span>
						<font face="" size="3px" color="black">Sign Up</font></a></li>
				
				<li><a href="#/validateUser" ng-hide="currentUser.firstname"><span
						class="glyphicon glyphicon-log-in" style="color:black"></span>
						<font face="" size="3px" color="black"> Login</font></a></li>
						
						<li><a href="#/logout" ng-click="logout()" ng-controller="UserController" ng-show="currentUser.firstname">
						<span class="glyphicon glyphicon-user" style="color:black"></span>
						<font face="" size="3px" color="black"> LogOut</font></a></li>
						  
						<li><a href="#/editProfile" ng-show="currentUser.firstname"><span class="glyphicon glyphicon-edit" style="color:black"></span>
						<font face="" size="3px" color="black">Edit User Profile</font></a></li>
			

			</ul>
		</div>
		</div>
		</nav>


</header>
<div class="ng-scope" ng-view></div>
<!-- <div ng-app="app" ng-controller="PersonController">
{{Person.firstname}} -->

	<!-- Ending the NavBar Code -->




</body>


</html>
